.button_toggle {
  position: absolute;
  left: calc(50vw + 220px);
  top: calc(50vh - 200px);
  display: flex;
  justify-content: flex-end;
  background: none;
}

@media screen and (max-width: 618px) {
  .button_toggle {
    left: calc(50vw + 110px);
    top: calc(50vh - 190px);
  }
}
