.card {
  position: relative;
  width: 282px;
  height: 361px;
  background-color: #fff;
  border-radius: 10px;
}

.card:hover {
  cursor: pointer;
}

.card:nth-child(even) {
  justify-self: flex-end;
}

.card:nth-child(odd) {
  justify-self: flex-start;
}

.card:only-of-type {
  justify-self: flex-start;
}

@media screen and (max-width: 620px) {
  .card:nth-child(n) {
    justify-self: center;
  }
}
