.button_toggle-card {
  display: flex;
  align-self: flex-end;
  transform: translateX(45px);
  background: none;
}

@media screen and (max-width: 618px) {
  .button_toggle-card {
    transform: translateX(35px);
  }
}
